.carrito__wrapper{
  width: 90%;
  margin: 0 auto;
}

.carrito__items-wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,25%);
}

.carrito__items-head{
  border-bottom: 1px solid black;
}

.carrito__items-img-name,
.carrito__items-precio,
.carrito__items-cantidad,
.carrito__items-total{
  padding: 15px 0px;
}

.carrito__items-precio p,
.carrito__items-total p{
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.carrito__items-img-name{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.carrito__items-img-name img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 15px;
}

.carrito__items-cantidad-wrap{
  width: 50px;
}

.carrito__items-cantidad-wrap div,
.carrito__items-cantidad-wrap button{
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  transition: all 450ms ease;
  cursor: pointer;
}

.carrito__items-cantidad-wrap div{
  border: none;
}

.carrito__items-cantidad-wrap button:hover{
  transform: scale(1.05);
  background-color: #f14848;
}
.carrito__items-cantidad-wrap button:active{
  transform: scale(0.95);
}

.carrito__items-subtotal{
  grid-column: 3/4;
  font-weight: bold;

}

.carrito__items-subtotal-value{
  grid-column: 4/5;
}

.carrito__items-subtotal-value p{
  text-decoration: underline;
  text-decoration-color: #f14848;
  text-underline-offset: 5px;
}

.carrito__items-buy{
  grid-column: 4/5;
  padding: 10px 0;
}

.carrito__items-buy button{
  background-color: #1a1919;
  color: white;
  outline: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 450ms ease;
}

.carrito__items-buy button:hover{
  transform: scale(1.05);
  color: #1a1919;
  background-color: white;
  border: 2px solid #1a1919;
}

.carrito__items-buy button:active{
  transform: scale(0.95);
}

.carrito__items-delete{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: none;
  background-color: transparent;
}

.carrito__items-delete span:hover{
  cursor: pointer;
  transition: all 450ms ease;
  transform: scale(1.05);
  color: #f14848;
}

.carrito__items-delete span:active{
  transition: all 450ms ease;
  transform: scale(0.8);
}

.quantity{
  border: none;
  background-color: transparent;
  padding: 10px 0px;
  width: 50px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .carrito__items-img-name img{
    display: none;
  }
  .carrito__wrapper{
    width: 97%;
  }
}